.topbar {
  background-color: $secondary-color;
  border-bottom: 1px solid #EEEEEE;
  color: #ffffff;
  padding: 2px 0;
  height: 30px;

  .list {
    display: flex;
    align-items: center;
    line-height: initial;

    >.item {
      display: flex;
      align-items: center;
      padding-top:0 !important;
      padding-bottom:0 !important;
      line-height: initial !important;

      i {
        color:#ffffff;
        font-size:18px;
      }

      a {
        display: flex;
        align-items: center;
        color:#ffffff;
        font-size:12px;
        text-transform: uppercase;
      }

    }



    span.text,
    .menu {
      @media screen and (max-width: $mobile-bp) {
        display: none;
      }
    }
  }

  .ui.pointing.dropdown {

    > .menu::after {
      background: #1b1c1d;
    }
  }

  .ui.grid > .row {
    padding: 0.2em 0em;
  }

  socialbar {

    .fa {
      margin-right: 5px;
    }

    i{
      font-size: 1.2em;
      line-height: 0.95em;

      &.facebook.icon {
        color: #475993 !important;
      }
      &.instagram.icon {
        color: #DE943F !important;
      }
      &.twitter.icon {
        color: #2795e9 !important;
      }
      &.youtube.icon {
        color: #dd4b39 !important;
      }
      &.google.icon {
        color: #dd4b39 !important;
      }
    }

  }
}